* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mochiy Pop P One', sans-serif;
}

.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section{
  scroll-snap-align: start;
  height: 100vh;
  overflow: hidden;
}

.intro{
  background-color: black;
}

.intro div video {
  width: 100%;
  object-fit: cover;
}

.rowflex{
  display: flex;
  justify-content: center;
  font-size: 5vw;
}

.rowflex h1{
  margin-top: 30px;
  cursor: default;
  transition-duration: .4s;
  color: #91B2C7;
  margin-left: 2vw;
}

.rowflex h1:hover{
  transform: scaleY(1.1);
}

.colflex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5vw;
}

.colflex h1{
  margin-top: 30px;
  cursor: default;
  transition-duration: .4s;
  color: #91B2C7;
}

.section1 {
  background-color: #232b2b;
}

.section2 {
  background-color: #282828;
}

.HH2{
  color: #92D293;
  font-size: 3vw;
  margin: 5rem;
}

.hh3{
  word-spacing: 5px;
}

.resumeheading{
  color: #91B2C7;
  word-spacing: 5px;
  transition-duration: .4s;
  cursor: default;
  font-size: 3vw;
  margin: 5rem;
}

.hiddenp{
  display: none;
}

.resumeheading:hover{
  transform: scaleY(1.1);
}

.resumeimg{
  height: 25vw;
  float: right;
  margin-right: 20%;
  border: 10px solid white;
  border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch;
}

.image{
  height: 50vh;
  border: 10px solid white;
  border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch;
}

.section3 {
  background-color: #6f2232;
}

.section4{
  background-color: #5d001e;
}

.section5{
  background-color: #7e685a;
}

.section6{
  background-color: #1f2833;
}

.section7{
  background-color: #123c69;
}

.section8{
  background-color: #116466;
}

.section9{
  background-color: #747474;
}

.projecth{
  color: #91B2C7;
  word-spacing: 5px;
  transition-duration: .4s;
  cursor: default;
  font-size: 8vw;
  margin: 5rem;
}

.projecth:hover{
  transform: scaleY(1.1);
}

.projecttext{
  word-spacing: 5px;
  float: right;
  margin-right: 20%;
  font-size: 2vw;
}

.projectdesc{
  word-spacing: 5px;
  float: right;
  font-size: 1vw;
  margin-top: 5%;
}

.projecttitle{
  color: #91B2C7;
  word-spacing: 5px;
  transition-duration: .4s;
  cursor: default;
  font-size: 4vw;
  margin: 5rem;
}

.projecttitle:hover{
  transform: scaleY(1.1);
}

.abouttext1{
  margin: 2rem;
  width: 25%;
  word-spacing: 5px;
  left: 5%;
}

.abouttext2{
  margin: 2rem;
  width: 25%;
  word-spacing: 5px;
  left: 35%;
}

.abouttext3{
  margin: 2rem;
  width: 25%;
  word-spacing: 5px;
  left: 65%;
  margin-top: -25%;
}

.w{
  position: relative;
  left: 90%;
  margin-top: 2%;
  transform: scale(2);
}

.flexdiv{
  display: flex;
  justify-content: space-around;
}

.badge-base{
  float: right;
  margin-right: 20%;
  margin-top: -5%;
}

.float{
  top: 10px;
  position: relative;
  color: #92D293;
  animation: float 3.5s infinite ease-in-out;
}

@keyframes float {
  50% {
      top: 20px;
  }    
  100% { 
      top: 10px;
  }
}

.mobilecontainer{
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #92D293;
  background-color: #1f2833;
  font-size: 4vw;
}

.mtitle{
  font-size: 3vw;
}

.smaller{
  margin: 0 7vh;
  height: 45vh;
}

@media only screen and (max-width: 1115px) {
  .hiddenp{
    display: block;
    font-size: 4vw;
    color: #92D293;
  }

  .hiddendiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1vw 4vw;
  }

  .intro div video{
    padding: 1vw;
  }

  .resumeheading{
    color: #91B2C7;
    word-spacing: 5px;
    transition-duration: .4s;
    cursor: default;
    font-size: 6vw;
    margin: 0;
  }

  .resumeimg{
    float: none;
    height: 45vh;
    max-width: 100vw;
    margin: 1vw;
    border: 10px solid white;
    border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch;
  }

  .projecth{
    color: #91B2C7;
    word-spacing: 5px;
    transition-duration: .4s;
    cursor: default;
    font-size: 10vw;
    margin: 0;
  }

  .float{
    animation: none;
  }
  
  .projecttext{
    margin: 0;
    word-spacing: 5px;
    float: none;
    font-size: 5vw;
  }

  .flexdiv{
    padding: 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1vw;
  }

  .projectdesc{
    word-spacing: 5px;
    float: none;
    font-size: 1.5vh;
    margin-top: 0;
  }
  
  .projecttitle{
    color: #91B2C7;
    word-spacing: 5px;
    transition-duration: .4s;
    cursor: default;
    font-size: 6.5vh;
    margin: 0;
  }

  .image{
    height: auto;
    width: 40vh;
  }

  .mtitle{
    font-size: 5vh;
    text-align: center;
  }

  .m{
    float: left;
    margin: 0;
    font-size: 3vh;
    text-align: center;
  }

  .smaller{
    height: 30vh;
    width: auto;
  }

  .abouttext1{
    width: 100%;
    margin: 0;
    word-spacing: 5px;
    left: 0;
  }
  
  .abouttext2{
    width: 100%;
    margin: 0;
    word-spacing: 5px;
    left: 0;
  }
  
  .abouttext3{
    width: 100%;
    margin: 0;
    word-spacing: 5px;
    left: 0;
  }

  .k{
    font-size: 4vh;
    text-align: center;
  }

  .HH2{
    margin: 0rem;
    font-size: 3vh;
  }

  .l{
    margin: 0px !important;
  }

}

/* @media only screen and (max-width: 900px) {
  .container{
    display: none;
  }
  .mobilecontainer{
    display: flex;
  }
} */